@page "/"
@namespace FastFoodWeb.Pages

<PageTitle>Witaj w FastFoodzie!</PageTitle>

<div class="container text-center">
    <h1 class="display-3 mb-4">Fast Food Web Application!</h1>
    <p class="lead">Wybierz z menu, złoż zamówienie i ciesz się smakiem! Szybko, łatwo i wygodnie!</p>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-4 mb-3">
            <a href="/menu" class="btn btn-primary btn-lg btn-block">Zobacz Menu</a>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <a href="/order-menu" class="btn btn-success btn-lg btn-block">Złóż Zamówienie</a>
        </div>
    </div>
    <p class="lead">Możesz również użyc menu po lewej stronie w celu poruszania się po stronie!</p>
</div>
