@page "/menu"
@inject Data.OrderService OrderService

<h3>Menu</h3>

<table class="table">
    <thead>
        <tr>
            <th>Kategoria</th>
            <th>Nazwa</th>
            <th>Cena (zł)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in OrderService.Categories)
        {
            bool firstRow = true;
            foreach (var item in category.Items)
            {
                <tr>
                    @if (firstRow)
                    {
                        <td rowspan="@category.Items.Count">@category.Name</td>
                        firstRow = false;
                    }
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("0.00")</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

}
